*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}

div > img {
    width: 50px;
}

.gradient {
    background: linear-gradient(45deg,#00694D, #00694D);
    z-index: 1;
    height: 80px;
    padding-top: 20px;
}

.container {
    height: 100vh;
    margin: auto;
}

.height-chat {
    height: 90vh;
    background-image: url("https://theabbie.github.io/blog/assets/official-whatsapp-background-image.jpg");
    background-color:white;
    overflow-y: scroll;
}

i.fas.fa-bell-slash {
    padding: 10px;
    background: rgb(235, 235, 229);
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
}

span.messages-style {
    border-radius: 20px;
    vertical-align: middle;
    display: inline-block;
    height: 20%;
    padding: 10px;
    margin: 30px;
}

.green {
    display: block;
    background-color: #73c7b0f5;
    float: right;
}

.white {
    display: block;
    background-color: white;
    float: left;
}

#btn:active{
   background-color: grey;
   z-index: 999;
   position: relative;
}

.message-date {
    font-size: 10px;
    float: right;
    margin: 15px;
}

.overflow-y {
    overflow-y: scroll;
}

.keyboard {
    bottom: -2%;
    right: 18%;
    width: 35%;
}

