<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"  href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!-- CDN example (unpkg) -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <title>Boolzapp</title>
</head>

<body class="bg-secondary">
  <div id="root" class="gradient">
    <div class="container">
      <div class="row row-cols-2 row-cols-2 d-flex justify-content-center">
        <div class="bg-light h-50 py-2 d-flex align-items-center justify-content-between col-lg-5">
          <div>
            <img class="rounded-pill px-1" src="img/avatar_io.jpg" alt=""><span class="">Nome Utente</span>
          </div>

          <div class="d-flex mx-2 px-2 text-secondary">
            <i class="fas fa-circle-notch mx-2 px-1"></i>
            <i class="fas fa-comment-alt mx-2 px-1"></i>
            <i class="fas fa-ellipsis-v mx-2 px-1"></i>
          </div>

        </div>
        <div class="bg-light d-flex align-items-center justify-content-between col-lg-6">
          <div class="d-flex" v-show="[currentActiveUser]" :class="contacts[currentActiveUser].name">
            <img :src="'../vue-boolzapp/img/avatar_' + [currentActiveUser + 1] + '.jpg'" class="rounded-pill">
               
            <span class="w-100 mx-2" style="line-height: 10px;">
              <p class="my-2">{{contacts[currentActiveUser].name}}</p>
              <p class="text-secondary">Ultimo accesso oggi alle </p>
            </span>
          </div>

          <div class="d-flex mx-2 px-2 text-secondary">
            <i class="fas fa-search mx-2 px-1"></i>
            <i class="fas fa-paperclip mx-2 px-1"></i>
            <i class="fas fa-ellipsis-v mx-2 px-1"></i>
          </div>

        </div>
        <div class="bg-light py-2 d-flex justify-content-between flex-column px-0 col-lg-5">
          <div class="bg-info col-lg-12">
           
            <div class="d-flex align-items-start px-3">
              <div class="d-flex align-self-center">
                <i class="fas fa-bell-slash text-info"></i>
              </div>
              
              <div class="d-flex flex-column align-self-center mx-2 my-2">
                <span>Ricevi notiche e nuovi messaggi</span> 
                <p class="fs-6 text-secondary text-decoration-underline">Attiva notifiche desktop</p>
              </div>             
            </div>
            
            

           
            <nav class="navbar navbar-light bg-light">
              <div class="container-fluid">
                <form class="d-flex w-100">
                  <button class="btn" type="submit"><i class="fas fa-search mx-2 px-1"></i></i></button>
                  <input class="form-control me-2" type="search" placeholder="Cerca o inizia una nuova chat" aria-label="Search" v-on:keyup="filterContact()" v-model="filter">
                </form>
              </div>
            </nav>
            <div class="bg-light overflow-y">
              <div v-for="(contact, index) in contactFilter" class="px-2 py-2" id="btn"  @click="clicked(index,contact)">
                
                <img :src="'img/avatar' + contact.avatar + '.jpg'" class="rounded-pill">
                {{contact.name}}
                
              </div>
            </div>
          </div>
        </div>



        <div class="height-chat position-relative col-lg-6">
          <div class="col-lg-12 h-100">
            <div :class="currentActiveUser"  v-for="(message, index) in contacts[currentActiveUser].messages">          
              <span class="messages-style w-50" :class="message.status === 'sent' ? 'green' : 'white'">{{message.message}} 
                <span class="message-date">{{message.date}}</span>
              </span>    
            </div>
          </div>
<!-- da correggiere la position -->
            <div class="d-flex w-100 fixed-bottom position-absolute position-sticky height-keyboard">
                <button class="btn bg-info" type="submit"><i class="far fa-grin-tears"></i></button>
                <input class="form-control px-1" type="search" placeholder="Inizia una nuova chat" aria-label="Search" v-on:keydown.enter="addMessage()"  v-on:keyup.enter="addOk()" v-model="newMessage">
                <button class="btn bg-light" type="submit"><i class="fas fa-microphone"></i></button>
            </div>
            
           </div>
          </div>
        </div>
      </div>
      <!-- parte di logica -->

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="js/main.js"></script>
</body>

</html>